
.container {
  margin-top: 20px;
  /* position: relative; */
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 550px;
  height: auto;
  position: relative;
  /* min-height: 40vh; */
  margin: 15px auto 30px;
}

.form-modal {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-form div {
  margin: 15px 0;
  padding: 0 10px;
  position: relative;
}

.check-box label input {
  margin-left: 5px;
}

.btn.btn-success.add-btn, .btn.btn-danger.minus-btn {
  margin-top: 25px;
  margin-left: 25px; 
  border-radius: 50%; 
}

.submit-btn {
  margin-bottom: 15px;
}

.cta-btn {
  width: 500px;
  margin-left: 15px;
}

.items-div {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .accounts-container {
    width: 300px;
  }

  .btn.btn-dark.new-invoice-btn {
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 14px;
  }

  .table-responsive.invoice-list {
    margin-top: 15px;
  }
  
  .invoice-search-bar {
    margin-left: 0;
  }

  .modal-container {
    width: 300px;
  }

  .cta-btn.btn.btn-dark.submit-btn {
    width: 150px;
  }
}


