.btn.btn-dark.new-invoice-btn {
  border-radius: 25px;
}

.invoice-search-bar {
  width: 300px;
  margin-left: 10px;
  /* text-align: center; */
}


.plus-btn {
  padding-right: 10px;
}

.table.table-hover.invoice-table {
  cursor: pointer;
}

.table.table-hover.invoice-table  {
  width: 100%
}

.invoice-list {
  margin-top: 60px;
}

.invoice-list-container {
  position: relative;
}

.paid.status {
  color: green;
}

.not-paid.status {
  color: red;
}

.draft.status {
  color: orange;
}

.status {
  font-style: italic;
  font-family: 'Texturina', serif;
  font-weight: bold;
}