.container.login-container {
  min-height: 80vh;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 600px;
  background-color: darkgray;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container.login-container  {
    width: auto;
  }
}

